

.grand{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.child-1{

    font-size: 40px;
    text-transform: uppercase;
}


.child-2{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 400px;

}

input{

    padding: 5px;
}