

.grand2{

    border: 1px solid black;
    margin: 10px 15px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.grand2>div{

    border: 5px solid red;
    margin: 5px 20px;
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end;
    width: 400px;

}

.grand2>div>button{


    border: 1px solid black;
    margin: 10px 20px;
    padding: 5px 20px;
    color: red ;
    background-color: antiquewhite;
    /* justify-content: center; */
}

.parents2{

    border: 5px solid blue !important;
    margin: 10px 20px;
    padding: 10px 15px;
    /* display: flex; */
    color: green;
    justify-content: center !important;
    font-weight: 900;


}


.parents3{

    justify-content: flex-start !important;


}



.grand3{

    
    border: 1px solid black;
    margin: 10px 15px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-evenly;


}


.grand3>div{

    border: 1px solid black;
    margin: 10px ;
    padding: 10px ;
    display: flex;
    justify-content: flex-start;
    width: 300px;

}


.grand3>div>button{

    border: 1px solid black;
    margin: 5px ;
    padding: 5px ;
    background-color: aqua;
    color: red;

}


.child1{

    justify-content: center !important;
    
    
}

.child1>button{

    background-color: blue !important;
    color: antiquewhite !important;
}


