
.parent{

    border: 1px solid black;
    margin: 10px 15px;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;

}

.parent>div{

    border: 1px solid black;
    margin: 10px 15px;
    padding: 10px 15px;
    display:flex ;
    justify-content: flex-end ;
    color: red;
    width: 350px;

}

.parent>div>button{

    color: red;
    background-color: aquamarine;
}

.btn1{
    justify-content: center !important;

}



.btn2{

    justify-content: space-evenly !important;
    
}

.btn2>button{

    color: antiquewhite !important;
    background-color: blue !important;
}



.parent2{

    
    border: 1px solid black;
    margin: 40px 20px;
    padding: 10px 20px;
    display: block !important;
    

}

.parent2>.atag1>a{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: block ;
    width: 200px;
    color: red;
}

.parent2>.atag2>a{

    
    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    color: green;
    font-size: 30px;
}

/* a:hover{

    font-size: 20px;
    color: blue !important;
} */


.prent3{

    border: 1px solid black;
    margin: 40px 30px;
    padding: 30px 30px !important;
    display: inline;
    height: 50vh;
    
}
.parent3>table{

    border: 1px solid black;
    margin: 30px 30px;
    padding: 30px 30px;
    display: inline-flex;
    justify-content: flex-end ;
    width: 500px;
        
}

.parent3>table:hover{

    background-color: aquamarine;
    font-size: 30px;
    color: blue;
}

.tab1{

    justify-content: center !important;
    color: chartreuse ;
}



.tab2{

    justify-content: flex-start !important;
    color: darkviolet;
}









