


.grand{

    border: 1px solid black;
    margin: 10px 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
   

    
}

.grand>div{

      border: 5px solid red;
      margin: 10px;
      padding: 5px;
      display: flex;
      width: 400px;
      justify-content: flex-start;
}


button{

    border: 1px solid black;
    margin: 5px 1px;
    padding: 5px;
    color: brown ;
    
    
}



.parent2{

    border: 1px solid green ;
    margin: 10px 20px;
    padding: 5px;
    justify-content: space-between !important;
   
    
    
}

.parent2>button{

    background-color: aqua;
}





