

.first{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    color: red;
    display: flex;
    justify-content: center;
    /* font-weight: 900; */
}

.btn1{

    /* margin: 10px; */
    padding: 10px 15px;
    color: bisque;
    background-color: aquamarine;
}



.second{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
}

.btn2{
    
    padding: 5px;
    background-color: yellow;
    color: black;
}


.btn2:hover{

    background-color: blue;
    color: aliceblue;
}


.third{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;

}


.btn3{

    padding: 5px 5px;
    background-color: bisque;
    color: blueviolet;
}

.btn3:hover{

    background-color: aliceblue;
    color: red;
}


.fourth{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

}

.btn4{

    padding: 10px 30px;
    background-color: cadetblue;
    color: blueviolet;
}

.btn4:hover{

    color: chartreuse;
    background-color: black;
    font-size: large;
}


.fifth{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-evenly;

}

.btn5{

    color: brown;
    background-color: cornflowerblue;

}

.btn5:hover{

    background-color: azure;
    font-size: larger;
}



.sixth{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;

}


.btn6{

    padding: 10px 15px;
    margin: 15px;
    color: blue;
    font-weight: 900;
    

}


.btn6:hover{

    color: red;
    background-color: aquamarine;
    font-size: larger;
    
}


.seventh{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;

}

.btn7{

    border: 1px solid black;
    margin: 10px 15px;
    padding: 10px 15px;
    height: 150px;
    width: 150px;
    object-fit: cover;

}

/* .btn7:hover{

    height: 200px;
    width: 200px;
    
} */





