
.parent{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.child1{

    width: 100%;
}
h2{
    font-size: 50px;
    text-transform: uppercase;
}


.child2{

    /* border: 1px solid black; */
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between ;
    /* gap: 20px; */
    width: 800px;
    font-size: 20px;
}

a{

    text-decoration: none;
    /* display: inline-block; */

}

input{

    padding: 5px;
}