
.parent1{

    border: 1px solid black;
    margin: 10px ;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    
}

.parent1>div{

    border: 1px solid black;
    margin: 15px 20px;
    padding: 15px 20px;
    display: flex;
    width: 200px;
    height: 100px;
    color: aquamarine;
    

}
.btn1{


    /* border: 1px solid black;
    margin: 15px 20px;
    padding: 15px 20px; */
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    

}

.btn1>button{

    color: red;
    background-color: antiquewhite;
}


.btn2{

   justify-content: flex-end;
   align-items: flex-start;
   
}

.btn2>button{

    color: blue;
    background-color: blueviolet;
}
.btn3{

   justify-content: flex-start;
   align-items: flex-end;
   /* color: chartreuse !important; */
}








/* Second div start here */

.parent2{

    border: 1px solid black;
    margin: 15px 20px;
    padding: 15px 20px;
    display:flex ;
    justify-content: center;

}

.parent2>div{

    border: 1px solid black;
    margin: 15px 20px;
    padding: 15px 10px;
    display:flex ;
    width: 350px;
    height: 150px;
}



.click1{

    justify-content: center;
    align-items: flex-end;
    
}


.click1>button{

    color: aqua;
}




.click2{

    justify-content: center;
    align-items: flex-start;
    
}

.click2>button{

    color: red;
    background-color: aquamarine;
}




.click3{

    /* justify-content: center; */
    align-items: center;
    
}

.click3>button{

    color: antiquewhite;
    background-color: blueviolet;
}






/* Third div start here */

.parent3{

    border: 1px solid black;
    margin: 15px 20px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    
   
   

}

.parent3>div{

    border: 1px solid black;
    margin: 15px 20px;
    padding: 15px 20px;
    /* display: flex; */
    align-items: center;
    height: 150px;
    width: 350px;

}

.first{

    color: red !important;
    justify-content: flex-end;
    align-items: flex-end !important;
}

.first>button{

    color: aqua;
    background-color: brown;
}

.second{

    color: red !important;
    justify-content: flex-end;
    align-items: center !important;
}

.second>button{

    color: red;
    background-color: blue;
}

.third{

    border: 1px solid black;
    margin: 5px;
    /* padding: 5px; */
    /* display: flex;
    justify-content: center;
    align-items: center !important; */
    /* width: 400px !important; */

}

.third>div{

    /* border: 1px solid black; */
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;

    
    
}

.prev1{

    justify-content: flex-end;
    color: red;
}

.prev2{

    justify-content: center;
    
}